html {
  display: flex;
  // flex-flow: column wrap;
  // justify-content: space-between;
  // align-items: stretch;
  // flex-direction: column;
  background-color: rgb(145, 143, 143);
  width: 100%;
  height: 100vh;
}

#myCanvas { 
  background: #eee; 
  display: block; 
  // display: flex;
  flex-wrap: wrap; 
  margin: 70 auto; 
  position: relative;
} 

// #subCanvas { 
//   background: whitesmoke; 
//   display: block; 
//   position: relative;
//   // margin: 40 auto; 
// }

input {
  position: absolute;
  width: 60;
  height: 60;
  border: 10px black;
  background-color: yellowgreen;
}

// canvas { 
//   background: #eee; 
//   display: flex; 
//   margin: 70 auto; 
// }


head {
  background-color:cadetblue;
}
body {display: flex;}

.sidePanel {
  background-color:darkolivegreen; 
  // background-color:rgb(55, 78, 14); 
  color: darkgoldenrod; 
  // background-color: yellowgreen;  
  margin-top: 70; 
  margin-bottom: 70; 
  margin-left: 15;
  margin-right: 15;
  width: 250px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-content: center;
  padding: 20px;
}

